<connectionStrings>
  <!--<add name="DefaultConnection"
  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Chinnook_Sample-3e48dd58-dda5-498f-85a9-9b3c65bd4880;AttachDbFilename=|DataDirectory|\aspnet-Chinnook_Sample-3e48dd58-dda5-498f-85a9-9b3c65bd4880.mdf;Integrated Security=SSPI"
  providerName="System.Data.SqlClient"/>-->
  <add name="ChinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SQLClient"/>
  <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Chinook; Integrated Security=SSPI"
       providerName="System.Data.SqlClient"/>
</connectionStrings>